* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

*{
    box-sizing: border-box;
}

body {
    background-color: #f5f7f8;
    color : #213a96;
    position:relative;
    margin: 0;
    height: 4800px;
}

.top-button {
    cursor: pointer;
    position: absolute;
    box-sizing: border-box;
    padding: 13px 10px;
    font-size: 24px;
    height: 60px;
    width: 60px;
    z-index: 1001;
    position: fixed;
    bottom: 24px;
    right: 50px;
    text-align: center;
    background: #fff;
    border-radius: 30px;
    box-shadow: -4px 0 16px rgb(0 0 0 / 12%);
}

.header-mainnav {
    position: relative;
    min-width: 800px;
    width: 100%;
    height: 40px;
    color: #fff;
    z-index: 1020;
    position: fixed;
    top: 0;
    left: 0;
    right: 3px;
    border-bottom: 1px solid rgba(255,255,255, .08);
    transition: all 400ms;
}

.header-mainnav img {
    padding-top: 8px;
    padding-left: 15px;
    margin-bottom: 5px;
}

.main {
    padding-top : 7vh;
    width: 100vw;
    height: 60vh;
    background-image: url('../Images/bg-champ_wide.webp');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}

.header-container {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 10;
    transition: all ease 400ms;
    position: relative;
    align-items: center;
}

.nav-item-container {
    box-sizing: border-box;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.nav-items {
    text-decoration: none;
    position: relative;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    padding: 10px 16px;
    overflow: hidden;
}


.nav-items:hover {
    font-weight: 600;
}

.nav-items::before {
    position: absolute;
    content: "";
    background-color: #213a86;
    right: 100%;
    width: 100%;
    height: 100%;
    bottom: 0px;
    z-index: -1;
    transition: all 100ms;
}

.nav-items:hover::before {
    transform: translateX(100%);
}

.sign-login {
    padding: 4px 8px;
}

img {
    height: 24px;
}

.signin {
    padding: 6px 12px;
    border: none;
    background-color: transparent;
    color: #7e9bff;
    font-weight: 400;
    transition: all 200ms;
}

.signin:hover {
    color: #fff;
}

.login {
    cursor: pointer;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    color: #213a86;
    font-weight: 600;
    transition: all 200ms;
}

.login:hover {
    background-color: #3d69ff;
    color: #fff;
}

.main {
    min-height: 200px;
    width: 100%;
}

.main-content-container {
    width: 65%;
    min-width: 900px;
    height: auto;
    margin: auto;
}

.menu-scroll {
    background: rgba(0,0,0,.6);
    z-index: 1002;
    position: fixed;
    width: 100%;
    height: 155px;
    transition: top .25s ease;
    top: 0px;
    left: 0;
    bottom: auto;
}

.category {
    margin-top: 40px;
    background: rgba(0,0,0,.2);
    transition: all ease .25s;
    min-width: 800px;
    width: 100%;
    height: 40px;
}

.category-item {
    width: 65%;
    min-width: 970px;
    height: 40px;
    margin: auto;
    padding: 8px 12px;
}

.category-item a {
    cursor: pointer;
    text-decoration:none;
    color: #FFFFFFA6;
    padding: 11px 24px 11px 0px;
    font-size: 14px;
    font-weight: 600;
}

.category-item span:hover {
    color: #fff;
}

.select-line-container {
    padding: 8px 0px;
    width: 100%;
    height: 75px;
}

.line-and-input {
    box-sizing: content-box;
    margin: auto;
    width: 65%;
    min-width: 970px;
    height: 59px;
    padding: 8px 8px;
}

.select-line {
    float: left;
    display: flex;
    width: auto;
    height: 59px;
}

.line-button {
    cursor: pointer;
    height: 100%;
    width: 70px;
    border: none;
    font-weight: 600;
    background-color: #fff;
    color: #1a2e76;
    border-right: 1px solid rgba(66, 99, 249, 0.2);
}

.line-button:hover {
    color: #fff;
    background-color: #213a96;
}

.button-active {
    color: #fff;
    background-color: #213a96;
}

.input-box {
    float: right;
    padding-top: 20px;
}

.main-input {
    box-sizing: content-box;
    width: 300px;
    height: 20px;
    padding: 8px 12px;
    border-radius: 6px;
    font-weight: 600;
    background-color: transparent;
    border : 1px solid rgba(255,255,255,.16);
    background-color: rgba(255,255,255,.08);
    color: #fff;
    outline: none;
    transition: all 200ms;
}

.main-input::placeholder {
    font-weight: 500;
    color : rgba(255, 255, 255, 0.486);
}


.main-input:hover {
    color : #353945;
    background-color: #fff;
}

.main-input:hover::placeholder {
    font-weight: 500;
    color : #353945;
}

.statistics-continer {
    position: absolute;
    top: 250px;
    width: 65%;
    min-width: 970px;
    height: 450px;
    margin: auto;
    background-color: transparent;
    border-radius: 6px;
    box-shadow: 0 4px 16px 0 rgba(24, 24, 24, 0.6);
}

.champ-head {
    position: inherit;
    text-align: right;
    display: flex;
    top: -50px;
    width: auto;
    height: 155%;
    color: #fff;
    background-color: transparent;
    z-index: 20;
}

.head {
    position:absolute;
    transform: translate(20%, 20%);
    width: 124px;
    height: 100%;
    background-color: #1f2331;
}

.head img {
    border: 4px solid #ffc030;
    border-radius: 4px;
    width: 110%;
    height: 110%;
}


.champ-summary-header {
    position: inherit;
    top: 0;
    background-color: transparent;
    width: 100%;
    height: 20%;
}

.summary-button {
    cursor: pointer;
    position: absolute;
    left: 20%;
    bottom: -1px;
    padding: 10px 16px;
    font-weight: 900;
    border-radius: 4px 4px 0px 0px;
    color: #ae9056;
    background-color: rgba(31,35,49,.8);
    border-left: 1px solid rgba(174,144,86,.6);
    border-right: 1px solid rgba(174,144,86,.6);
    border-top: 1px solid rgba(174,144,86,.6);
    border-bottom: 1px solid #ffc030;
    z-index: 10;
    transition: all 200ms;
}

.summary-button-active {
    background-color: #1f2331;
    color: #ffc030;
    border: 1px solid #ffc030;
    border-bottom: 1px solid #1f2331;
}

.champ-summary {
    position: inherit;
    border-top: 1px solid #ffc030;
    width: 100%;
    height: 80%;
    background-color: #1f2331;
    bottom: 0;
    border-radius: 0px 0px 6px 6px;
}

.rate-content {
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    color: #fff;
}

.number-box {
    display: flex;
    justify-content: right;
    width: 100%;
}

.rate {
    font-size: 16px;
    font-weight: 400;
    text-align: right;
    padding: 5px;
    width: 100%;
}

.right-rate {
    font-size: 16px;
    font-weight: 400;
    text-align: right;
    padding: 5px;
    width: 80px;
}

.yellow {
    font-size: 14px;
    color: #ffc030;
}

.rune-item-skill-container {
    display: flex;
    flex-direction: row;
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 70%;
}

.main-rune {
    width: 20%;
}


.rune-summary {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.rune-select {
    display: flex;
    justify-content: center;
}

.rune-select img {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    padding: 3px;
}

.item-skill-summary {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.item-core-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 70%;
}

.item-core-summary-items {
    color: #ae9056;
    height: 46px;
    font-size: 13px;
}

.item-core-summary-items img{
    width: 35px;
    height: 35px;
    transform: translate(0%, 30%);
}

.skill-summary-container {
    width: 65%;
    height: 70%;
}

.skill-summary {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.skill-seq-row {
    display: flex;
    text-align: center;
    color: #353945;
}

.skill-title {
    box-sizing: border-box;
    color: #ffc030;
    font-size: 16px;
    font-weight: 900;
    width: 26px;
    height: 26px;
}

.yellow-background {
    background-color: #ffc030;
}

.skill-box {
    width: 26px;
    height: 26px;
    border-radius: 4px;
    font-size: 12px;
    padding: 5px;
}

.skill-mastar-summary {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 30%;
    text-align: center;
}

.good-skill-master {
    font-size: 13px;
    color: #ae9056;
    width: 120px;
}

.good-skill-master img {
    margin: 6px;
}

.good-spell {
    font-size: 13px;
    color: #ae9056;
    width: 80px;
}

p {
    margin: 0;
}

.good-spell img {
    width: 30px;
    height: 30px;
    margin-top: 5px;
}

.good-start-item {
    font-size: 13px;
    color: #ae9056;
    width: 80px;
}

.good-start-item img {
    width: 30px;
    height: 30px;
    margin-top: 5px;

}

.good-shoes {
    font-size: 13px;
    color: #ae9056;
    width: 60px;
}

.good-shoes img {
    width: 30px;
    height: 30px;
    margin-top: 5px;
}

.good-core {
    font-size: 13px;
    color: #ae9056;
    width: 200px;
}

.good-core img {
    width: 30px;
    height: 30px;
    margin-top: 5px;
}

.champ-nav {
    width: 100%;
    height: 80px;
    padding: 28px 20px 0px 20px;
}

.champ-nav-items {
    text-decoration: none;
    font-weight: 700;
    padding-bottom: 8px;
    margin: 0px 24px 6px 0px;
    color: #2F3E4EB3;
}

.champ-nav a:hover {
    color: #353945;
    border-bottom: 2px solid #7e9bff;
}

.champ-nav-active {
    color: #353945;
    border-bottom: 2px solid #7e9bff;
}



.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction:row;
    background-color:#d6d9e0;
    height: 200px;
    width: 100%;
    justify-content: center;
    margin: auto;
}

.footer div{
    text-align: left;
    color:rgba(47,62,78,.7);
}

.footer-left {
    padding: 40px 50px;
    width: 30%;
    font-size: 12px;
    font-weight: 600;
}

.footer-left-item {
    margin: 10px;
}

.footer-right {
    padding: 20px 50px;
    font-size: 12px;
    width: 70%;
}
.basic-info-container {
    width: 100%;
    height: auto;  /* 안에 내용이 늘어날 수록 height가 늘어남*/
    margin: auto;  /* 박스 가운데 정렬 */
}
.basic-stat-box {
    float: left;
    min-width: 50%;
    max-width: 50%;
    height: 386px;
}
.stat-top-div {
    display: flex;
    font-size: 12px;
    color: rgba(47, 62, 78, .7);
    padding: 4px;
    border-top: 1px solid blue;

}
.stat-name {
    flex: 0 0 120px;
    text-align: left;
    color: #3254ce;
}
.stat-basic {
    flex: 1 1;
    text-align: right;
    
}
.stat-final {
    flex: 0 0 64px;
    text-align: right;
}
.stat-rank {
    flex-basis: 75px;
    text-align: right;
    margin-right: 6px;
    padding-left: 8px;
}
.stat-div {
    color: #212525;
    display: flex;
    font-size: 14px;
    padding : 4px;
    background: rgba(126, 155, 255, .1);
}
.stat-span {
    flex: 0 0 120px;
    display: inline-block;
}

.skill-detail-box {
    float: right;
    min-width: 50%;
    max-width: 50%;
    height: 386px;
    padding: 0 12px 0 12px;
    
}
.i-rank {
    font-style: normal;
    color: rgba(47, 62, 78, .4);
}
.skill-detail-info {
    display: inline-block;
    width: 18%;
    padding-bottom: 24px;
    text-decoration: none;
}
.champ-img {
    width: 36px;
    height: 36px;
    border-radius: 4px;
}
.explanation {
    font-size: 12px;
    color: rgba(47, 62, 78, .7);
    margin-bottom: 1rem;
}
.skill-name {
    font-size: 10px;
    display: block;
    color: rgba(47, 62, 78, .7);
    line-height: 1.5;
    cursor: pointer;
    -webkit-text-stroke-width:thick;
}
.champ-skill {
    font-size: 16px;
    font-weight: 700;
}
.skill-container {
    width: 100%;
    height: 1000px;
}
.skill-info-box {
    display: flex;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
.skill-info {
    width: 80%;
    padding: 18px 0 40px;   
    display: flex; 
}
.skill-info img {
    width: 64px;
    height: 64px;
    border-radius: 4px;
}
.skill-info-name {
    width: 20%;

}
.skill-kind {
    display: block;
    margin-bottom: 0.5rem;
    padding-top: 18px;
    font-size: 16px;
    font-weight: 700;
    color: #3d69ff;
}
.skill-kor-name {
    margin: 0 0 8px;
    color: #1d2e69;
    font-weight: bolder;

}
.skill-eng-name {
    font-size: 16px;
    color: rgba(47, 62, 78, .7);
    font-weight: 700;
    line-height: 1.5;
}
.skill-text-style {
    display: block;
    padding-left: 16px;
    font-size: 14px;
    color: #353943;
    word-wrap: break-word;
}
