* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

body {
    position: relative;
    margin: 0;
    height: 1800px;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    color: #fff;
}

.main {
    position: relative;
    padding-top : 7vh;
    width: 100vw;
    height: 85vh;
    background-image: url('../headerbg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}


.search {
    height: 12vh;
    margin: 80px 500px 24px;
    min-width: 920px;
}

.search input {
    position: absolute;
    border: none;
    border-radius: 4px 0px 0px 4px;
    outline: none;
    height: 32px;
    margin-right: 48px;
    width: 90%;
    padding: 8px 12px;
    font-size: 16px;
    color: #213a96;
    font-weight: 700;
}

.searchbar {
    position: relative;
    display: inline-block;
    width: 560px;
    height: 48px;
    border-radius: 4px;
    margin: 0;
    top: 0;
}

.searchbar-padding-bottom {
	padding-bottom: 261px;
}

.searchbar button {
    position: absolute;
    right: 0;
    padding: 13px 14px 15px;
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 0px 4px 4px 0px;
    outline: none;
    background-color: #fff;
    font-size: 12px;
    transition: all 300ms;
    cursor: pointer;
    z-index: 10;
}

.searchbar button:hover {
    background-color: #3254ce;
}

.word_wrapper {
    position: relative;
    height: 31px;
    margin-top: 12px;
    margin-right: 5px;
    z-index: 0;
    transition: all 400ms;
}

.overflow {
	overflow: hidden;
}

.realtime {
    display: inline-block;
    width: 275px;
    height: 70px;
    background: rgba(255,255,255,.08);
    border-radius: 4px;
    color: rgba(255,255,255,.65);
    font-size: 12px;
    padding: 8px 8px 8px 64px;
    transform: translate(-15%, 0%);
}

.realtime a {
    display: block;
    position: relative;
    font-weight: 700;
    padding: 5px;
    padding-left: 32px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.realtime-color-white {
	color: white;
}

.realtime-color-black {
	color: black;
}

.realtime li span {
    display: block;
    position: absolute;
    left: 5px;
    width: 20px;
    height: 20px;
    background: #fff;
    text-align: center;
    border-radius: 2px;
    color: #1d2e69;
    line-height: 19px;
}

ul {
    list-style: none;
    width: 270px;
    background: #213a96;
    font-size: 14px;
    margin: 0;
    padding: 0;
    max-height: 350px;
    transition: all ease .4s;
}

.background-white {
	background-color: white;
	color: black;
}

.realtime_word {
    text-decoration: none;
}

.mainslide_container {
    display: flex;
    width: 300vw;
    height: 400px;
    padding-top: 0;
    transition: all ease 250ms;
}

.swiper-wrapper {
    box-sizing: content-box;
    width: 600px;
    height: 0px;
}

.swiper-wrapper-small {
    box-sizing: content-box;
    width: 210px;
    height: 400px;
    transform: translate(0%,-10%);
}

.swiper-slide {
    display: flex;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 8px;
}

.slide-image {
    background-image: url('../Images/champion/full/aatrox.jpg');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    border-radius: 8px 0px 0px 8px;
    width: 40%;
    height: 347px;
    z-index: 10;
    box-shadow: 0px 4px 8px rgba(184, 184, 184, 0.5);
}

.slide-image-small {
    background-image: url('../Images/champion/full/aatrox.jpg');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    position: absolute;
    border-radius: 8px;
    width: 180px;
    height: 250px;
    bottom: 3.5%;
    z-index: 10;
    box-shadow: 0px 4px 8px rgba(184, 184, 184, 0.5);
}

.champion-name {
    box-sizing: border-box;
    position: absolute;
    padding: 8px 16px;
    width: 100%;
    height: 40px;
    bottom: 0;
    margin: auto;
    border-radius: 0px 0px 8px 8px;
    background : linear-gradient(0deg, #1F2331 50%, rgba(0, 0, 0, 0.3) 50%);
}

.champslide-infobox {
    box-sizing: border-box;
    position: relative;
    width: 60%;
    height: 347px;
    background : linear-gradient(0deg, #1F2331 10%, rgba(0, 0, 0, 0.3) 100%);
    border-radius: 0px 8px 8px 0px;
    box-shadow: 0px 4px 8px rgba(184, 184, 184, 0.5);
    padding: 20px 20px 20px 20px;
}

h2 {
    margin: 0;
    text-align: left;
    font-weight: 300;
    font-size: 26px;
    margin-bottom: 20px;
}

.before {
    color: #ffffffA6;
}

.champ-status-header {
    display: flex;
    justify-content: space-around;
    height: 18px;
    font-size: 12px;
    list-style: none;
    margin-bottom: 4px;
}

.champ-status-header span{
    text-align: left;
    width: 100px;
}

.champ-status-item {
    display: flex;
    justify-content: space-around;
    list-style: none;
    height: 31px;
    margin-bottom: 8px;
    text-align: left;
}

.champ-status-item h4{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    width: 100px;
    color: #7e9bff;
}

.champ-status-item span{
    width: 100px;
    font-size: 20px;
}

.champ-point {
    margin: 0;
    text-align: left;
    height: 80px;
}

.champ-point h4{
    font-size: 12px;
    color: #7e9bff;
}

.champ-link {
    width: 120px;
    height: 16.8px;
    padding: 5px 8px;
    color: #3d69ff;
    background-color: #fff;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
}

.champ-link:hover{
    background-color:#3d69ff;
    color: #fff;
}

.none {
    display: none;
}

.community-container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.community {
    width: 450px;
    height: 367px;
    margin-left: 30px;
}

.title{
    margin: 0; 
    margin-bottom : 10px;
    font-size: 16px;
    color: #213a86;
}

.community-list-container {
    width: 100%;
}

.community-list {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 6px 8px;
    height: 32px;
    font-size: 14px;
    background-color: white;
    align-items: center;
}

.community-list:hover {
	background: rgb(242, 245, 255);
}

.community-list span {
    width: 60px;    
    height: 100%;
    text-align: center;
}


.post-link {
    width: 300px;
    height: 100%;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.post-name {
    font-weight: 600;
    color: #353945;
}

.post-title {
    font-weight: 400;
    color: #353945;
}

.post-comment {
    color: #828b95;
    font-weight: 600;
}

.post-like {
    font-weight: 600;
    color: #3d69ff;
}