<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lol.ps-clone-project</title>
	<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<link rel="stylesheet" href="/common/all.css">
    <link rel="stylesheet" href="/community/community.css">
    <link rel="stylesheet" href="/community/community-post.css">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
	<script src="/common/jquery-3.6.0.min.js"></script>
</head>
<body>
	<!-- 위에 navbar 부분입니다 -->
    <header class="header-mainnav">
        <div class="header-container">
            <a href="/">
                <img src="/header-logo.webp" alt="LOL.PS">
            </a>
			<div class = "nav-item-container">
				<a class="nav-items" href="/notice">공지사항</a>
				<a class="nav-items" href="/champ/rank">챔피언 랭킹</a>
				<a class="nav-items" href="/community">자유게시판</a>
				<a class="nav-items" href="/community/build">빌드연구소</a>
				<a class="nav-items" href="/minigame">미니게임</a>
			</div>
			<div class="sign-login">
				<a th:if="${#session} == null" href="/signin">
					<button class="signin">회원가입</button>
				</a>
				<a th:if="${#session} == null" href="/login">
					<button class="login">로그인</button>
				</a>
				<a>
					<form th:if="${#session} != null" action="/logout/kakao" style="display: inline">
						<button class="signin">로그아웃</button>
					</form>
				</a>
				<a th:if="${#session} != null" href="/mypage">
					<button class="login">마이페이지</button>
				</a>
			</div>
        </div>
    </header>

    <div class="main">
        <div class="first-title" th:text="${communityDetail.getCategory()}"></div>
        <div class="second-title">
        	<a class="main-button" href="/community/post">✎게시물 쓰기</a>
			<form action="/champ/statistics/noline"  method="get">
				<input class="main-input" name="name" placeholder="챔피언이름을 입력하세요"/>
			</form>
        </div>
        <div style="clear: both;"></div>
    </div>
	
	<!-- 중단 -->
    <main>
		<div class="whiteDiv"></div>
      	<!-- 포스트 -->  	
      	<div class="post-detail">
			<!-- 포스트제목 -->
      		<div class="title">
      			<div style="font-size:15px; color:#7e9bff;"><b th:text="${communityDetail.getCategory}"></b></div>
      			<h3 id="title" th:text="${communityDetail.getTitle()}"></h3>
				<button id="revise-button" class="edit-button"  th:if="${isWriter}">
					<a th:href="@{'/community/' + ${categoryEng} + '/edit?title=' + ${communityDetail.getTitle} + '&content=' + ${communityDetail.getContent} + '&bno=' + ${communityDetail.getBno} + '&champname=' + ${champName} }">게시물 수정</a>
				</button>
				<button id="delete-button" class="edit-button" th:if="${isWriter}">게시물 삭제</button>
      		</div>
      		<!-- 포스트내용 -->
      		<div id="content" class="write" th:utext="${communityDetail.getContent()}"></div>
      		<!-- 포스트글쓴이 -->
      		<div class="writer">
      			<div>
      				<img class="writer-img" th:src="@{${'/image/profile/' + communityDetail.getImage()}}"/>
      			</div>
      			
      			<div class="writer-mid">
      				<div style="padding:5px 10px; font-size:12px; color:darkgray;">글쓴이</div>
      				<div style="padding:5px 10px;"><b th:text="${communityDetail.getNickName()}"></b></div>
      				<div style="padding:5px 10px; font-size:15px; color:gray;" th:text="${communityDetail.getIntroduce()}"></div>
      			</div>
      			
      			<div class="writer-bot">
      				<span th:text="|조회수 ${communityDetail.getCount()}|"></span>
      			</div>


      		</div>
      		<!-- 포스트하단 -->
           	<div class="content-function">
           		<a style="padding-left:30px;" class="prev-next" th:href="@{/community/build/detail(bno=${communityDetail.bno - 1})}">←이전</a>
           		
           		<div class="justify-content-start">
           			<button style="white-space:pre;" class="recommend" type="button"><span class="pre" th:text="|좋아요 ${communityDetail.getGood}|"></span></button>
           			<button style="white-space:pre;" class="recommend" type="button"><span class="pre" th:text="|싫어요 ${communityDetail.getBad}|"></span></button>
           		</div>

           		<a style="padding-right:30px;" class="prev-next" th:href="@{/community/build/detail(bno=${communityDetail.bno + 1})}">다음→</a>
           	</div>
        </div>
      	<div style="height:40px;"></div>
      	<!-- 댓글들 -->
		<div class="comment-container">


		</div>

		<!-- 댓글쓰기 -->
		<div class="bottom-comment">
			<input type="hidden" th:value="${isCommentWriter}">
			<form onsubmit="return false;">
				<div class="comment">
						<div class="comment-name">댓글쓰기</div>
						<textarea id="input-comment" class="comment-space"></textarea>
						<button id="comment-regist" class="comment-regist" type="button">등록</button>
				</div>
			</form>
			<div class="list-under-div">
				<a style="border-radius:6%;" class="list-under" href="/community/post">게시물 쓰기</a>
				<a style="border-radius:10%;" class="list-under" href="/community">목록</a>
			</div>
		</div>
	</main>
	
	<!-- 하단고정 -->
	<div class="top-button">
        <span style="color: #6c757d;">UP</span>
    </div>
	
   	<footer class="footer">

        <div class="footer-left">
            <span class="footer-left-item">공지사항</span>
            <span class="footer-left-item">버그리포팅</span>
            <span class="footer-left-item">파트너 신청</span>
            <div style="margin-bottom: 10px;"></div>
            <span class="footer-left-item">이용약관</span>
            <span class="footer-left-item">개인정보처리방침</span>
        </div>

        <div class="footer-right">
			<h5>Developer : Shim yosub, Email : kuzoteki@gmail.com</h5>
			<p>
				이 웹 사이트는 https://lol.ps를 클론코딩한 사이트 입니다.
			</p>
        </div>

    </footer>


<script type="text/javascript" th:inline="javascript">
	function getParameterByName(name) {
		name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
		var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
				results = regex.exec(location.search);
		return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
	}

	/*<![CDATA[*/
	let sessionMember = [[${member}]]
	let communityDetail = [[${communityDetail}]];
	/*]]>*/

	$.ajax({
		type: "POST",
		url: '/community/getcomments',
		data: JSON.stringify({
			bno : getParameterByName('bno'),
		}),
		contentType : 'application/json',
		success: function (data) {
			let comments = '';

			if(data.length !== 0) {
				let commentRevise = '';
				let commentDelete = '';
				let commentReviseComplete = '';
				let commentReviseCancle = '';
				let commentWriter = '';
				let owner = '';

				let className = '';
				let display = '';
				for (let i = 0; i < data.length; i++) {

					if(data[i].upperBaseNo == 0) {
						className = 'comments';
						display = "display: inline-block";
					}else {
						className = 'comments-comment';
						display = "display: none";
					}

					if (sessionMember !== null) {
						commentRevise = sessionMember.memberKey == data[i].memberKey ? '수정' : '';
						commentDelete = sessionMember.memberKey == data[i].memberKey ? '삭제' : '';
						commentReviseComplete = sessionMember.memberKey == data[i].memberKey ? '저장' : '';
						commentReviseCancle = sessionMember.memberKey == data[i].memberKey ? '취소' : '';
					}
					commentWriter = communityDetail.memberKey == data[i].memberKey ? '글쓴이' : '';
					owner = communityDetail.memberKey == data[i].memberKey ? 'owner' : '';

					comments += `<div class="${className}">
								<input type="hidden" value="${data[i].memberKey}">
								<input type="hidden" value="${data[i].baseNo}">
								<input type="hidden" value="${data[i].upperBaseNo}">
								<img class="comments-img" src="/image/profile/${data[i].image}"/>
								<div id="resize-area" style="padding-left: 20px; width: 80%; display: none">
									<textarea style="width: 100%; height: 100%; resize: none"></textarea>
								</div>
								<div id="comment-writer" style="padding-left: 20px; width: 80%;">
									<div style="padding-bottom: 5px; color:rgb(69, 76, 107); font-size:14px;">
										<span class="${owner}">${commentWriter}</span>
										<b>${data[i].nickName}</b>
									</div>
									<div style="font-size:14px;">${data[i].content}</div>
									<div style="padding-top:5px">
										<span style="font-size: 14px; color:gray;">${data[i].writeDate}</span>
										<button style="${display}" class="write-comment">↳댓글</button>
									</div>
								</div>
								<div id="revise-or-delete" class="comment-delete">
									<span id="comment-revise">${commentRevise}</span>
									<span id="comment-delete">${commentDelete}</span>
								</div>
								<div id="complete-or-cancle" class="comment-delete" style="display: none">
									<span id="comment-revise-complete">${commentReviseComplete}</span>
									<span id="comment-revise-cancle">${commentReviseCancle}</span>
								</div>
							</div>`;
				}
				$('.comment-container').append(comments);
			}

		}
	})
</script>
<script src="/common/all.js"></script>
<script src="/community/deleteAndRenewContent.js"></script>
</body>
</html>