<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lol.ps-clone-project</title>
    <link rel="stylesheet" href="/common/all.css">
    <link rel="stylesheet" href="/main/main.css">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <script src="/common/jquery-3.6.0.min.js"></script>
</head>
<body>
<header class="header-mainnav">
    <div class="header-container">
        <a href="/">
            <img src="/header-logo.webp" alt="LOL.PS">
        </a>
        <div class = "nav-item-container">
            <a class="nav-items" href="/notice">Notice</a>
            <a class="nav-items" href="/champ/rank">Champion rank</a>
            <a class="nav-items" href="/community">Free Board</a>
            <a class="nav-items" href="/community/build">Build Board</a>
            <a class="nav-items" href="/minigame">Mini Game</a>
        </div>
        <div class="sign-login">
            <a th:if="${#session} == null" href="/signin">
                <button class="signin">SignIn</button>
            </a>
            <a th:if="${#session} == null" href="/login">
                <button class="login">LogIn</button>
            </a>
            <a>
                <form th:if="${#session} != null" action="/logout/kakao" style="display: inline">
                    <button class="signin">LogOut</button>
                </form>
            </a>
            <a th:if="${#session} != null" href="/mypage">
                <button class="login">MyPage</button>
            </a>
        </div>
    </div>
</header>
    <main class="main">
        <div class="search">

            <form action="/champ/statistics/noline" method="get" id="search_form" style="z-index:11; position : relative;">
                <div class="searchbar">
                    <div style="width: 560px;">
                        <input id="search-input" type="text" name="name" placeholder="Please enter the name of the champion">
                    </div>
                    <button type="submit">
                        <img src="/main/icon_search.webp" style="width: 20px; height: 20px;">
                    </button>
                </div>

                <div class="realtime">
                    <span class="realspan">실시간 검색어</span>
                    <img src="/main/icon_chevron-white.png" alt="img" style="float : right;">
                    <div class="word_wrapper overflow">
                        <ul id="realtime_search">
                            <li>
                            	<a class="realtime_word realtime-color-white" href="javascript:void(0);" onclick="callFunction();">
                                	<span>1</span>탈리야
                            	</a>
                            </li>
                            <li>
                            	<a class="realtime_word realtime-color-white" href="javascript:void(0);" onclick="callFunction();">
                                	<span>2</span>샤코
                            	</a>
                            </li>
                            <li>
                            	<a class="realtime_word realtime-color-white" href="javascript:void(0);" onclick="callFunction();">
                                	<span>3</span>이즈리얼
                            	</a>
                            </li>
                            <li>
                            	<a class="realtime_word realtime-color-white" href="javascript:void(0);" onclick="callFunction();">
                                	<span>4</span>탐켄치
                            	</a>
                            </li>
                            <li>
                            	<a class="realtime_word realtime-color-white" href="javascript:void(0);" onclick="callFunction();">
                                	<span>5</span>일라오이
                            	</a>
                            </li>
                            <li>
                            	<a class="realtime_word realtime-color-white" href="javascript:void(0);" onclick="callFunction();">
                                	<span>6</span>쉬바나 
                            	</a>                    
                            </li>                       
                            <li>                        
                            	<a class="realtime_word realtime-color-white" href="javascript:void(0);" onclick="callFunction();">
                                	<span>7</span>트위치 
                            	</a>                    
                            </li>                       
                            <li>                        
                            	<a class="realtime_word realtime-color-white" href="javascript:void(0);" onclick="callFunction();">
                                	<span>8</span>신지드 
                            	</a>                    
                            </li>                       
                            <li>                        
                            	<a class="realtime_word realtime-color-white" href="javascript:void(0);" onclick="callFunction();">
                                	<span>9</span>오리 아나
                            	</a>                    
                            </li>                       
                            <li>                        
                            	<a class="realtime_word realtime-color-white" href="javascript:void(0);" onclick="callFunction();">
                                	<span>10</span>쉔
                            	</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>

        <h3  style="color: #fff;">주목해야 할 챔피언 (KR) <small style="color: darkgray;">05-24 10:46 기준</small></h3>
        <div class="swiper">
            <div class="main-mainslide_container swiper-wrapper" style="color: #fff; z-index: 1;">


            </div>
        </div>
    </main>

    <div style="height: 300px;"></div>


    <div class="community-container">
        <div class="community">
            <h3 class="title">자유 게시판</h3>
            <ul class="community-list-container" id="free-community">
<!--                자유게시판 글 10개-->
            </ul>
        </div>

        <div class="community">
            <h3 class="title">빌드 연구소</h3>
            <ul class="community-list-container" id="build-community">
<!--                빌드 연구소 글 10개-->
            </ul>
        </div>
    </div>

    <div class="top-button">
        <span style="color: #6c757d;">UP</span>
    </div>

    <footer class="footer">

        <div class="footer-left">
            <span class="footer-left-item">공지사항</span>
            <span class="footer-left-item">버그리포팅</span>
            <span class="footer-left-item">파트너 신청</span></br>
            <div style="margin-bottom: 10px;"></div>
            <span class="footer-left-item">이용약관</span>
            <span class="footer-left-item">개인정보처리방침</span>
        </div>

        <div class="footer-right">
            <h5>Developer : Shim yosub, Email : kuzoteki@gmail.com</h5>
            <p>
                이 웹 사이트는 https://lol.ps를 클론코딩한 사이트 입니다.
            </p>
        </div>

    </footer>
<script src="/main/main.js"></script>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="/common/all.js"></script>
</body>
</html>