<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lol.ps-clone-project</title>
    <link rel="stylesheet" href="/common/all.css">
    <link rel="stylesheet" href="/login/login.css">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="/common/jquery-3.6.0.min.js"></script>
</head>
<body>
    
    <!-- 위에 navbar 부분입니다 -->
    <header class="header-mainnav">
        <div class="header-container">
            <a href="/">
                <img src="/header-logo.webp" alt="LOL.PS">
            </a>
            <div class = "nav-item-container">
                <a class="nav-items" href="/notice">공지사항</a>
                <a class="nav-items" href="/champ/rank">챔피언 랭킹</a>
                <a class="nav-items" href="/community">자유게시판</a>
                <a class="nav-items" href="/community/build">빌드연구소</a>
                <a class="nav-items" href="/minigame">미니게임</a>
            </div>
            <div class="sign-login">
                <a href="/signin">
                    <button class="signin">회원가입</button>
                </a>
                <a href="/login">
                    <button class="login">로그인</button>
                </a>
            </div>
        </div>
    </header>

    <main class="main">
        <div class = "side-left" style="height: 754px;">
            <section class = "ad index ad-banner_vertical ad-fixed"></section>
        </div>
        <div class = "contents">
            <div class=" row-sign">
                <div class = "col-12">
                    <h2 class="page-title">회원가입</h2>
                </div>
                <div class = "row">
                    <div class = "email_login_box"> 
                        <h3>이메일 회원 가입</h3>
                        <form name="signInForm" onsubmit="return false;">
                            <div class = "form-group">
                                <label>이메일 주소</label>
                                <input type="email" name="email" class="form-control" placeholder="gamer@lol.ps">
                                <p id="email-p"></p>
                            </div>
                            <div class = "form-group">
                                <label>비밀번호</label>
                                <input type="password" name="password" class="form-control" placeholder="비밀번호">
                                <p id="password-p"></p>
                            </div>
                            <div class = "form-group">
                                <label>비밀번호 확인</label>
                                <input type="password" name="password-confirm" class="form-control" placeholder="비밀번호 확인">
                                <p id="password-confirm-p"></p>
                            </div>
                            <div class = "form-group">
                                <label>닉네임</label>
                                <input type="text" name="nickname" class="form-control" id="nickname-input" placeholder="닉네임">
                            </div>
                            <button class="btn btn-lg btn-theme btn-big" id="summit-button">이메일 주소로 가입</button>
                        </form>
                    </div>

                    <div class="sign-sns signin">
                        <h3>소셜계정으로 가입</h3>
                            <ul>
                                <li>
                                    <a href="https://kauth.kakao.com/oauth/authorize?client_id=1e5f1398f6098e14639513d07165e3b6&redirect_uri=http://lolpscloneproject-env.eba-wr2mtsmm.ap-northeast-2.elasticbeanstalk.com/login/kakao&response_type=code">
                                        <img style="cursor: pointer; height: 40px;" src="/image/kakao/kakao_login_medium_narrow.png" alt="카카오톡 로그인" >
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>                    
    </div>
    
</main>
<footer class="footer">

    <div class="footer-left">
        <span class="footer-left-item">공지사항</span>
        <span class="footer-left-item">버그리포팅</span>
        <span class="footer-left-item">파트너 신청</span></br>
        <div style="margin-bottom: 10px;"></div>
        <span class="footer-left-item">이용약관</span>
        <span class="footer-left-item">개인정보처리방침</span>
    </div>

    <div class="footer-right">
        <h5>Developer : Shim yosub, Email : kuzoteki@gmail.com</h5>
        <p>
            이 웹 사이트는 https://lol.ps를 클론코딩한 사이트 입니다.
        </p>
    </div>

</footer>


<script src="/common/all.js"></script>
<script src="/common/common.js"></script>
<script src="/login/signin.js"></script>
</body>
</html>