<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/common/all.css">
    <link rel="stylesheet" href="/statistics/statistics-main.css">
    <link rel="stylesheet" href="/statistics/statistics.css">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="/common/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header class="header-mainnav">
        <div class="header-container">
            <a href="/">
                <img src="/header-logo.webp" alt="LOL.PS">
            </a>
            <div class = "nav-item-container">
                <a class="nav-items" href="/notice">공지사항</a>
                <a class="nav-items" href="/champ/rank">챔피언 랭킹</a>
                <a class="nav-items" href="/community">자유게시판</a>
                <a class="nav-items" href="/community/build">빌드연구소</a>
                <a class="nav-items" href="/minigame">미니게임</a>
            </div>
            <div class="sign-login">
                <a th:if="${member} == null" href="/signin">
                    <button class="signin">회원가입</button>
                </a>
                <a th:if="${member} == null" href="/login">
                    <button class="login">로그인</button>
                </a>
                <a>
                    <form th:if="${member} != null" action="/logout" style="display: inline">
                        <button class="signin">로그아웃</button>
                    </form>
                </a>
                <a th:if="${member} != null" href="/mypage">
                    <button class="login">마이페이지</button>
                </a>
            </div>
        </div>
    </header>
    
    <div class="main">

    </div>

    <div class="main-content-container">
        <div class="menu-scroll">
            <div class="category">
                <div class="category-item">
                    <a href="#yoyack">요약</a>
                    <a href="#counter">카운터</a>
                    <a href="#spell-startitem">스펠,아이템</a>
                    <a href="#coreitem">코어템</a>
                    <a href="#skills">스킬</a>
                    <a href="#runes">룬</a>
                </div>
            </div>
            <div class="container">
                <div class="line-and-input">
<!--                        라인별 승률 들어가는 곳-->
                    <div class="input-box">
                        <form action="/champ/statistics"  method="get">
                            <input class="main-input" type="text" name="name" placeholder="챔피언이름을 입력하세요"/>
                        </form>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>

        <div class="statistics-continer">
            <div class="champ-summary-header">
                <div class="champ-head">
                    <div class="head">
                        <img th:src="@{${'/image/champhead/' + headImage}}" alt="img">
                    </div>
                    <h1 style="font-weight: 400; font-size: 38px; margin: 0; width:100%; margin-top: 15px; margin-left: 190px;" th:text="${name}"></h1>
                </div>
                <button class="summary-button summary-button-active">대중적인 빌드</button>
                <button class="summary-button" style="left: 33%;">고승률 빌드</button>
            </div>

            <div class="champ-summary"  id="yoyack">
                <div class="rate-content">

                    <div class="number-box">
                        <div style="padding-top: 10px; width: 80px;">
                            <div class="rate yellow">승률</div>
                            <div class="rate">54.05%</div>
                        </div>

                        <div style="padding-top: 10px; width: 80px;">
                            <div class="rate yellow">픽률</div>
                            <div class="rate">0.79%</div>
                        </div>

                        <div style="padding-top: 10px; width: 80px;">
                            <div class="rate yellow">벤율</div>
                            <div class="rate">0.21</div>
                        </div>

                        <div style="padding-top: 10px; width: 165px;">
                            <div class="rate yellow">PS스코어</div>
                            <div class="rate" style="color: #FFFFFFA6;">12.9 패치 48.31</div>
                            <div class="rate">12.10 패치 51.24</div>
                        </div>
                        <div style="padding-top: 10px; width: 140px;">
                            <div class="rate yellow">챔피언순위</div>
                            <div class="rate" style="color: #FFFFFFA6;">12.9 39등</div>
                            <div class="rate">12.10 14등</div>
                        </div>
                        <div id="usually-position" style="padding-top: 10px; width: 230px; display: flex; flex-wrap: wrap;">
<!--                            주로 선택하는 포지션-->
                        </div>
                    </div>
                </div>

                <div class="rune-item-skill-container">
                    <div class="main-rune">
                        <div class="rune-summary">
                            <h4 style="margin: 0; color: #ae9056">메인룬</h4>
                        <div class="rune-select">
                            <img src="../Images/rune/지배/d_r_1.png" alt="img">
                            <img src="../Images/aatrox.jpg" alt="img">
                            <img src="../Images/aatrox.jpg" alt="img">
                            <img src="../Images/aatrox.jpg" alt="img">
                        </div>
                        <div class="rune-select">
                            <img src="../Images/aatrox.jpg" alt="img">
                            <img src="../Images/aatrox.jpg" alt="img">
                            <img src="../Images/aatrox.jpg" alt="img">
                        </div>
                        <div class="rune-select">
                            <img src="../Images/aatrox.jpg" alt="img">
                            <img src="../Images/aatrox.jpg" alt="img">
                            <img src="../Images/aatrox.jpg" alt="img">
                        </div>
                        <div class="rune-select">
                            <img src="../Images/aatrox.jpg" alt="img">
                            <img src="../Images/aatrox.jpg" alt="img">
                            <img src="../Images/aatrox.jpg" alt="img">
                            <img src="../Images/aatrox.jpg" alt="img">
                        </div>
                        <div class="rune-select">
                            <span style="color:#FFFFFFA6">승률 <span class="yellow">54.98%</span></span>
                        </div>
                        <div class="rune-select">
                            <span style="color:#FFFFFFA6">게임 수 <span class="yellow">291</span></span>
                        </div>
                    </div>
                </div>

                <div class="sub-rune">
                    <div class="rune-summary">
                        <h4 style="margin: 0; color: #ae9056">보조룬</h4>
                        <div class="rune-select">
                            <img style="width: 38px; height: 38px" src="../Images/aatrox.jpg" alt="img">
                            <img style="width: 38px; height: 38px" src="../Images/aatrox.jpg" alt="img">
                            <img style="width: 38px; height: 38px" src="../Images/aatrox.jpg" alt="img">
                        </div>
                        <div class="rune-select">
                            <img style="width: 38px; height: 38px" src="../Images/aatrox.jpg" alt="img">
                            <img style="width: 38px; height: 38px" src="../Images/aatrox.jpg" alt="img">
                            <img style="width: 38px; height: 38px" src="../Images/aatrox.jpg" alt="img">
                        </div>
                        <div class="rune-select">
                            <img style="width: 38px; height: 38px" src="../Images/aatrox.jpg" alt="img">
                            <img style="width: 38px; height: 38px" src="../Images/aatrox.jpg" alt="img">
                            <img style="width: 38px; height: 38px" src="../Images/aatrox.jpg" alt="img">
                        </div>

                        <div id="good-rune-shard">
                            <div class="rune-select">
                                <img src="../image/rune/ability.png" alt="img">
                                <img src="../image/rune/attackspeed.png" alt="img">
                                <img src="../image/rune/cooltime.png" alt="img">
                            </div>
                            <div class="rune-select">
                                <img src="../image/rune/ability.png" alt="img">
                                <img src="../image/rune/Def.png" alt="img">
                                <img src="../image/rune/magicDef.png" alt="img">
                            </div>
                            <div class="rune-select">
                                <img src="../image/rune/health.png" alt="img">
                                <img src="../image/rune/Def.png" alt="img">
                                <img src="../image/rune/magicDef.png" alt="img">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item-skill-summary">
                    <div class="item-core-summary">
                        <div class="item-core-summary-items" id="goodOneCore">
<!--                                1코어 들어가는 곳-->
                        </div>
                        <div class="item-core-summary-items" id="goodTwoCore">
<!--                                2코어 들어가는 곳-->
                        </div>
                        <div class="item-core-summary-items" id="goodThreeCore">
<!--                                3코어 들어가는 곳-->
                        </div>
                    </div>

                    <div class="skill-summary-container">
                        <div class="skill-summary">
                            <div class="skill-seq-row">
                                <div class="skill-title">Q</div>
                                <img src="../Images/anne1.jpg" alt="img">
                                <div class="skill-box yellow-background" style="background-color: #FFFFFF0D;">1</div>
                                <div class="skill-box yellow-background">2</div>
                                <div class="skill-box yellow-background" style="background-color: #FFFFFF0D;">3</div>
                                <div class="skill-box">4</div>
                                <div class="skill-box" style="background-color: #FFFFFF0D;">5</div>
                                <div class="skill-box">6</div>
                                <div class="skill-box yellow-background" style="background-color: #FFFFFF0D;">7</div>
                                <div class="skill-box">8</div>
                                <div class="skill-box" style="background-color: #FFFFFF0D;">0</div>
                                <div class="skill-box">9</div>
                                <div class="skill-box yellow-background" style="background-color: #FFFFFF0D;">9</div>
                                <div class="skill-box">1</div>
                                <div class="skill-box" style="background-color: #FFFFFF0D;">1</div>
                                <div class="skill-box yellow-background">1</div>
                                <div class="skill-box" style="background-color: #FFFFFF0D;">1</div>
                            </div>
                            <div class="skill-seq-row">
                                <div class="skill-title">W</div>
                                <img src="../Images/anne1.jpg" alt="img">
                                <div class="skill-box" style="background-color: #FFFFFF0D;">1</div>
                                <div class="skill-box">2</div>
                                <div class="skill-box" style="background-color: #FFFFFF0D;">3</div>
                                <div class="skill-box yellow-background">4</div>
                                <div class="skill-box" style="background-color: #FFFFFF0D;">5</div>
                                <div class="skill-box yellow-background">6</div>
                                <div class="skill-box" style="background-color: #FFFFFF0D;">7</div>
                                <div class="skill-box">8</div>
                                <div class="skill-box" style="background-color: #FFFFFF0D;">0</div>
                                <div class="skill-box">9</div>
                                <div class="skill-box yellow-background" style="background-color: #FFFFFF0D;">9</div>
                                <div class="skill-box">1</div>
                                <div class="skill-box" style="background-color: #FFFFFF0D;">1</div>
                                <div class="skill-box">1</div>
                                <div class="skill-box" style="background-color: #FFFFFF0D;">1</div>
                            </div>
                            <div class="skill-seq-row">
                                <div class="skill-title">E</div>
                                <img src="../Images/anne1.jpg" alt="img">
                                <div class="skill-box" style="background-color: #FFFFFF0D;">1</div>
                                <div class="skill-box">2</div>
                                <div class="skill-box" style="background-color: #FFFFFF0D;">3</div>
                                <div class="skill-box">4</div>
                                <div class="skill-box" style="background-color: #FFFFFF0D;">5</div>
                                <div class="skill-box">6</div>
                                <div class="skill-box" style="background-color: #FFFFFF0D;">7</div>
                                <div class="skill-box">8</div>
                                <div class="skill-box" style="background-color: #FFFFFF0D;">0</div>
                                <div class="skill-box">9</div>
                                <div class="skill-box" style="background-color: #FFFFFF0D;">9</div>
                                <div class="skill-box">1</div>
                                <div class="skill-box yellow-background" style="background-color: #FFFFFF0D;">1</div>
                                <div class="skill-box">1</div>
                                <div class="skill-box yellow-background" style="background-color: #FFFFFF0D;">1</div>
                            </div>
                            <div class="skill-seq-row">
                                <div class="skill-title">R</div>
                                <img src="../Images/anne1.jpg" alt="img">
                                <div class="skill-box" style="background-color: #FFFFFF0D;">1</div>
                                <div class="skill-box">2</div>
                                <div class="skill-box" style="background-color: #FFFFFF0D;">3</div>
                                <div class="skill-box">4</div>
                                <div class="skill-box" style="background-color: #FFFFFF0D;">5</div>
                                <div class="skill-box yellow-background">6</div>
                                <div class="skill-box" style="background-color: #FFFFFF0D;">7</div>
                                <div class="skill-box">8</div>
                                <div class="skill-box" style="background-color: #FFFFFF0D;">0</div>
                                <div class="skill-box yellow-background">9</div>
                                <div class="skill-box" style="background-color: #FFFFFF0D;">9</div>
                                <div class="skill-box">1</div>
                                <div class="skill-box" style="background-color: #FFFFFF0D;">1</div>
                                <div class="skill-box">1</div>
                                <div class="skill-box" style="background-color: #FFFFFF0D;">1</div>
                            </div>
                        </div>
                    </div>

                    <div class="skill-mastar-summary">
                        <div class="good-skill-master">
<!--                            스킬마스터 순서-->
                        </div>
                        <div class="good-spell">
<!--                            추천 스펠-->
                        </div>
                        <div class="good-start-item">
<!--                            시작 아이템-->
                        </div>
                        <div class="good-shoes">
<!--                            신발-->
                        </div>
                        <div class="good-core">
<!--                            코어템-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   

        <div style="width: 100%; height: 600px;"></div>

        <div class="champ-nav">
            <a class="champ-nav-items champ-nav-active" th:href="@{/champ/statistics(name=${name})}">챔피언 통계</a>
            <a class="champ-nav-items" th:href="@{/champ(name=${name})}">기본 정보</a>
            <a class="champ-nav-items" th:href="@{/champ/patch(name=${name})}">패치 히스토리</a>
            <a class="champ-nav-items" th:href="@{/champ/community(name=${name})}">커뮤니티</a>
        </div>

        <div class="champ-match-container" id="counter">
            <div class="title">
                <span th:text="|${name} 상대 챔피언|"></span>
            </div>
            <div class="champ-match">
                <div class="match-list">
                    <h4>상대하기 어려움</h4>
<!--                    상대하기 어려움 리스트-->
                </div>
                <div class="match-list">
                    <h4>상대하기 쉬움</h4>
<!--                    상대하기 쉬움 리스트-->
                </div>
            </div>
        </div>

        <div class="content-container" id="spell-startitem">
            <div class="spell-items">
                <div class="title">스펠, 아이템 선택</div>
                <div class="spell-item-content">
                    <div class="spell-box">
                        <h4 style="padding:5px">스펠</h4>
                        <div class="number">
                            <span class="number-items">승률</span>
                            <span class="number-items">선택률</span>
                            <span class="number-items">카운트수</span>
                        </div>
                        <ul class="spell-list" id="spell-list">
<!--                            스펠 통계 들어가는 곳-->
                        </ul>
                    </div>
                    <div class="spell-box">
                        <h4 style="padding:5px">스타트 아이템</h4>
                        <div class="number">
                            <span class="number-items">승률</span>
                            <span class="number-items">선택률</span>
                            <span class="number-items">카운트수</span>
                        </div>
                        <ul class="spell-list" id="start-item-list">
<!--                          스타트아이템 들어가는 곳-->
                        </ul>
                    </div>
                    <div class="spell-box" style="border-right: none;">
                        <h4 style="padding:5px">신발</h4>
                        <div class="number">
                            <span class="number-items">승률</span>
                            <span class="number-items">선택률</span>
                            <span class="number-items">카운트수</span>
                        </div>
                        <ul class="spell-list" id="shoes-list">
<!--                            신발 들어가는곳-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-container core-each" id="coreitem">
            <div class="spell-items">
                <div class="title">코어템 통계</div>
                <div class="spell-item-content">
                    <div class="spell-box">
                        <h4 style="padding:5px">1코어</h4>
                        <div class="number">
                            <span class="number-items">승률</span>
                            <span class="number-items">선택률</span>
                            <span class="number-items">카운트수</span>
                        </div>
                        <ul class="spell-list" id="core1-list">
<!--                            1코어 들어가는 곳-->
                        </ul>
                    </div>
                    <div class="spell-box">
                        <h4 style="padding:5px">2코어</h4>
                        <div class="number">
                            <span class="number-items">승률</span>
                            <span class="number-items">선택률</span>
                            <span class="number-items">카운트수</span>
                        </div>
                        <ul class="spell-list" id="core2-list">
<!--                         2코어 들어가는 곳-->
                        </ul>
                    </div>
                    <div class="spell-box" style="border-right: none;">
                        <h4 style="padding:5px;">3코어</h4>
                        <div class="number">
                            <span class="number-items">승률</span>
                            <span class="number-items">선택률</span>
                            <span class="number-items">카운트수</span>
                        </div>
                        <ul class="spell-list" id="core3-list">
<!--                            3코어 들어가는 곳-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-container core-combine">
            <div class="spell-items">
                <div class="title">코어템 조합 통계</div>
                <div class="spell-item-content">
                    <div class="spell-box">
                        <h4 style="padding:5px">2코어 조합</h4>
                        <div class="number">
                            <span class="number-items">승률</span>
                            <span class="number-items">선택률</span>
                            <span class="number-items">카운트수</span>
                        </div>
                        <ul class="spell-list" id="core2-combine">
<!--                            2코어 조합 들어가는 곳-->
                        </ul>
                    </div>
                    <div class="spell-box">
                        <h4 style="padding:5px">3코어 조합</h4>
                        <div class="number">
                            <span class="number-items">승률</span>
                            <span class="number-items">선택률</span>
                            <span class="number-items">카운트수</span>
                        </div>
                        <ul class="spell-list" id="core3-combine">
<!--                            3코어 조합 들어가는 곳-->
                        </ul>
                    </div>
                    <div class="spell-box" style="border-right: none;">
                        <h4 style="padding:5px;">4코어 조합</h4>
                        <div class="number">
                            <span class="number-items">승률</span>
                            <span class="number-items">선택률</span>
                            <span class="number-items">카운트수</span>
                        </div>
                        <ul class="spell-list" id="core4-combine">
<!--                            4코어 조합 들어가는 곳-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-container skill" id="skills">
            <div class="spell-items">
                <div class="title">스킬</div>
                <div class="spell-item-content">
                    <div class="spell-box" style="border-right: none; width: 35%;">
                        <h4 style="padding:5px">마스터 순서</h4>
                        <div class="number">
                            <span class="number-items">승률</span>
                            <span class="number-items">선택률</span>
                            <span class="number-items">카운트수</span>
                        </div>
                        <ul class="spell-list" id="skill-master">
<!--                            스킬마스터 순서 들어가는 곳-->
                        </ul>
                    </div>
                    <div class="spell-box" style="border-right: none; width: 65%; padding: 12px 12px;">
                        <div class="what-level-container">
                            <span class="what-level what-level-active">3레벨 까지</span>
                            <span class="what-level">6레벨 까지</span>
                            <span class="what-level">11레벨 까지</span>
                        </div>
                        <div class="number">
                            <span class="number-items">승률</span>
                            <span class="number-items">선택률</span>
                            <span class="number-items">카운트수</span>
                        </div>
                        <ul class="spell-list" id="skill-seq">
<!--                            스킬 순서 들어가는 곳-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-container rune" id="runes">
            <div class="spell-items">
                <div class="title">룬</div>
                <div class="spell-item-content">
                    <div class="spell-box" style="width: 60%; padding: 15px;">
                        <h4 style="padding:5px">조합별 통계</h4>
                        <div class="number">
                            <span class="number-items">승률</span>
                            <span class="number-items">선택률</span>
                        </div>
                        <ul class="spell-list" id="rune-combine">
<!--                            조합별 룬 들어가는 곳-->
                        </ul>
                    </div>
                    <div class="spell-box" style="border-right: none; width: 40%; padding: 15px;">
                        <h4 style="padding:5px">파편 조합 통계</h4>
                        <div class="number">
                            <span class="number-items">승률</span>
                            <span class="number-items">선택률</span>
                        </div>
                        <ul class="spell-list" id="rune-shard">
<!--                            룬 파편 조합 들어가는 곳-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="top-button">
        <span style="color: #6c757d;">UP</span>
    </div>


    <footer class="footer">

        <div class="footer-left">
            <span class="footer-left-item">공지사항</span>
            <span class="footer-left-item">버그리포팅</span>
            <span class="footer-left-item">파트너 신청</span></br>
            <div style="margin-bottom: 10px;"></div>
            <span class="footer-left-item">이용약관</span>
            <span class="footer-left-item">개인정보처리방침</span>
        </div>

        <div class="footer-right">
            <h5>PS Analytics, Inc. © 2020</h5>
            <p>
                lol.ps is hosted by PS Analytics, Inc. lol.ps isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone officially involved in 
                producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. 
                League of Legends © Riot Games, Inc.
            </p>
        </div>

    </footer>
<script src="/common/all.js"></script>
<script src="/statistics/statistics.js"></script>
</body>
</html>